/* "ct"/class-toggler (Information/Documentation) */

  /* How to use:

    use classes "ct-unactive" and "ct-active" to specify state of element when page is loaded
    
    use class "ct-container" to encapsulate elements to be affected by class toggling 
    (ct-toggler will not affect ct-affected outside of its closest ancestor ct-container, 
    and will not affect inside other ct-containers inside it's closest ancestor ct-container)

    use class "ct-affected" for elements that should have their "ct-unactive" and "ct-active" 
    classes toggled, on a click event of element with class "ct-toggler" in same ct-container

    use class "ct-toggler" for the element that activates class-toggling for elements with 
    class "ct-affected" 

    use class "ct-deactivateOnOutsideClick" to specify if an element with class "ct-affected"
    should be deactivated if a click occurs outside it's ct-container (usefull for dropdowns)
  */

  /* Functionality information:

    if there is a ct-container inside/(any level of decendant of the element) a ct-container 
    then class-toggling-events will not enter child ct-container 
    
    if a ct-toggler does not have an ancestor ct-container it will not do anything 
    and will throw error in console if in "debug mode" 
    */

/* Use convention (order of style assignment):
  assign default style: #1 
  assign unactive style: #2
  assign active style:#3
*/

/* ==================================================================================================== */

/* Overritable tool classes */

/* Debug */

.show-borders {
  border: solid red 1px;
  box-sizing: border-box;
}

/* Clickable */
.clickable{
  cursor: pointer;
  transition: 100ms;
}
.clickable:hover{
  transition: 100ms;
  filter: brightness(0.8);
  scale: 110%;
}

/* left right center "tool" */
.lrc-container {
  display: flex;
}
.lrc-left {
  width: 100cap;
}
.lrc-right {
  width: 100cap;
  display: flex;
  justify-content: end;
}
.lrc-center {
  width: min-content;
}


/* ==================================================================================================== */

/* Default Global Presets */

body {
  /* height: min-content; */

  /* style */
  background-color: black;

  /* text */
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.9);

  /* margin/padding */
  margin: 0%;
  padding: 0%;

  /* background image */
  background-image: url('../images/tech-background.jpeg');
  background-size: cover;
  background-attachment: fixed;
}
/* buttons */
button {
  border: none;
  background-color: rgba(0, 0, 0, 0.0);
  padding: 0%;
  margin: 0px;
  cursor: pointer;
}
/* links */
a{
  text-decoration: underline;
  text-decoration-color: blue;
  color: black;
}
/* headings */
h1, h2 {
  font-family: "Audiowide", Arial, Helvetica, sans-serif;
  color: blue;
}
h3 {
  font-family: "Audiowide", Arial, Helvetica, sans-serif;
}
/* normal text */
p{
  font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
  color: white;
}


/* Create a variable to control the speed of the transitions from one place */
:root {
  --transition-speed: 500ms;
}

/* standard dropdown container style and behaviour */
.std-dropdown {
  background-color: rgb(20, 20, 20);
  border: solid 0px;
  top: 0px;
  padding: 8px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  border-radius: 1cap;
  
  position: absolute;
}

.std-dropdown.ct-unactive {
  pointer-events: none;
  opacity: 0;
  transition: var(--transition-speed);
}

.std-dropdown.ct-active {
  pointer-events: all;
  opacity: 1;
  transition: var(--transition-speed);
  transform: translateY(80px);
}



/* ==================================================================================================== */

/* Navigation menu */

header {
  /* style */
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1%;

  /* display */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  /* shape */
  width: 100px;
}

/* ==================================================================================================== */

/* menu */

.menu{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
}

/* Hamburger menu */

.menu-img {
  /* shape */
  width: 60px;
}

.menu-quickaccess-items-container{
  display: flex;
  flex-direction: row-reverse;
  width: fit-content;
}

.hamburger-menu {
  display: flex;
  justify-content: center;
}

.menu-option-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em;
  width: 40px;
  color: white;
  line-height: 90%;
  font-size: x-small;
}

.hamburger-menu-dropdown-container{
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  direction: rtl;

  right: 10px;
  width: fit-content;
  pointer-events: all;
}

/* menu dropdown container active/unactive */

.hamburger-menu-dropdown-container.ct-unactive{
  opacity: 0;

  /* position/animation */
  transition: ease-in, var(--transition-speed);
  transform: translateY(0);
}

.hamburger-menu-dropdown-container.ct-active{
  opacity: 100%;
  transition: ease-in, var(--transition-speed);
}

.settings-dropdown-container {
  right: 0;
  direction: ltr;
  display: flex;
  flex-direction: column;
  width: 15em;
}


.settings-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.settings-option-inputfield {
  width: fit-content;
  display: flex;
  align-items: center;
}
.toggle-slider {
  padding: 0;
  border-radius: 5cap;
  margin: 4px;
  aspect-ratio: 2/1;
  width: 35px;
}
.toggle-slider.ct-unactive {
  transition: var(--transition-speed);
  background-color: grey;
}
.toggle-slider.ct-active {
  transition: var(--transition-speed);
  background-color: lightskyblue;
}
.toggle-slider-knobb {
  transition: var(--transition-speed);
  margin: 2px;
  aspect-ratio: 1/1;
  height: 70%;
  border-radius: 5cap;
  background-color: white;
  border: 1px solid darkslategrey;
}
.toggle-slider-knobb.ct-unactive {
 float: left;
 transition: var(--transition-speed);
}
.toggle-slider-knobb.ct-active {
  float: right;
  transition: var(--transition-speed);
 }

/* ==================================================================================================== */

/* Site navigation menu */

.site-navigation-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.site-navigation-section h2 {
  margin: 0;
  padding: 0;
}
.open-site-navigation-menu-button {
  cursor: pointer;
  margin: 10px;
  display: flex;
  color: blue;
  align-items: center;
  font-size: x-large;
  font-family: "Audiowide", Arial, Helvetica, sans-serif;
}

/* Expand arrow */
.open-site-navigation-menu-expand-icon {
  transition: var(--transition-speed);
  width: 25px;
}
.open-site-navigation-menu-expand-icon.ct-active {
  transition: var(--transition-speed);
  rotate: 180deg;
}

/* Quick access items */
.site-navigation-menu-quickacces-items-container {
  display: flex;
}
.site-navigation-menu-quickacces-items-container a{
  margin: 0% 5px;
}

/* Dropdown container */
.site-navigation-menu-items-container {
  display: flex;
  flex-direction: column;
}
.site-navigation-menu-items-container.ct-unactive {
  position: absolute;
  opacity: 0;
  pointer-events: none;

  /* position/animation */
  transition: ease-in, var(--transition-speed);
  transform: translateY(0);
}
.site-navigation-menu-items-container.ct-active {
  opacity: 100%;

  /* position/animation */
  transition: ease-in, var(--transition-speed);
  transform: translateY(100px);
  position: absolute;
}

/* ==================================================================================================== */

/* Main Website */
.website-main {
  padding: 5%;
  margin: 0;

}
.website-main h1 {
  margin: 2%;

  font-size: xxx-large;
}

/* Info Boxes */
.info-boxes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

/* ==================================================================================================== */

/* Info boxes */

.ib {
  
  /* display */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  /* shape/position */
  margin: 2%;
  padding: 3%;
  height: fit-content;
  /* apperance */
  background-color: rgba(0, 4, 255, 0.178);
  border-radius: 3cap;
  box-shadow: 1px 1px 0.5em black;
  /* width: 600px; */
  height: max-content;

}
.ib.ct-unactive{
  /* transition */
  transition: ease-in-out, var(--transition-speed);

  width: 40%;
}

.ib.ct-active {
  transition: ease-in-out, var(--transition-speed);
  width: 100%;
  flex-direction: column;
}
.ib-introduction-section{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ib-img {
  width: 50%;
  max-width: 600px;
  /* keep height the same as width */
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 3cap;
  box-shadow: 1px 1px 0.5em black;
}
.ib-img.ct-active{
  flex: 1;
}
.ib-title {
  font-size: x-large;
  text-shadow: black 2px 2px 1px;
  font-weight: lighter;
}

.ib-introduction-text-section {
  padding: 2%;
  display: block;
}
.ib-introduction-text-section.ct-unactive {
  width: 50%;
}
.ib-introduction-text-section.ct-active{
  width: 20em;
}
.ib-expand-button {
  transition: var(--transition-speed);
  width: 10%;
  cursor: pointer;
}
.ib-expand-button.ct-active {
  transition: var(--transition-speed);
  transform: rotate(-90deg);
}
.ib-info-text{
  max-width: 70%;
}
.ib-info-text.ct-active {
  position: relative;
  opacity: 100%;
  height: fit-content;
}
.ib-info-text.ct-unactive {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  height: 0px;
}

/* ============================================================== */

/* Footer */

footer {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px 0;
  text-align: center;
}
.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}
.footer-column {
  width: 25%;
  margin-bottom: 20px;
  color: white;
}
.footer-column h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.footer-column p {
  line-height: 1.6;
  font-size: 1rem;
}
.footer-column ul {
  list-style: none; 
  padding: 0; 
}
.footer-column li {
  margin-bottom: 5px; 
}
.footer-column a {
  color: white; 
  text-decoration: none; 
  transition: color 0.3s ease; 
}
.footer-column a:hover {
  color: #007bff; 
}
.copyright {
  background-color: rgba(90, 90, 90, 0.8);
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

/* ================================================================ */

/* Tablet */

@media (max-width: 30cm) {
  /* nav */
  .site-navigation-menu-quickacces-items-container{
    opacity: 0;
    position: absolute;
    pointer-events: none;
    display: none;
  }

  /* ib */
  .ib.ct-unactive{
    transition: ease-in-out, var(--transition-speed);
    display: flex;
    flex-direction: column;
  }

  .ib-introduction-section.ct-unactive{
    flex-direction: column;
  }

  .ib-expand-button{
    transform: rotateZ(90deg);
  }

  .ib-img.ct-unactive{
    width: 100%;
  }
  .ib-introduction-text-section.ct-unactive{
    width: 100%;
  }
  /* footer */
  .footer-column {
    width: 50%;
  }
}

/* ===================================================================== */

/* Phone */

@media (max-width: 20cm) {
  .ib.ct-unactive{
    transition: ease-in-out, var(--transition-speed);
    width: 100%;
  }
  .ib.ct-active{
    transition: ease-in-out, var(--transition-speed);
    justify-content: center;
  }
  .ib-introduction-section.ct-active {
    flex-direction: column;
  }
  .ib-introduction-text-section{
    width: 90%;
  }
  .ib-img{
    width: 100%;
  }
  .ib-info-text.ct-active {
    width: 100%;
    max-width: 30em;
  }
  /* footer */
  .footer-column {
    width: 100%;
  }
}

