/* Default Global Presets */
body{
    /* style */
    background-color: blue;

    margin: 0%;

}

div{
    border: 4px black solid;
}

/* NAVIGATION */

/*  */
nav{
    /* style */
    background-color: rgb(23, 29, 29);
    padding: 1%;

    /* display */
    display: flex;
    justify-content: space-between;
}

/* dropdown menu "blueprint" */
.content{
    position: absolute;
    background-color: white;
    border-radius: 6px;
    box-shadow: black 4px;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    
    
    
}
.selector:focus + .content{
    


    opacity: 1;
}
.dropdown{
    width: fit-content;
}




nav img{
    width: 60px;
}




/* Util */

/* remove text style */
.rts{
    text-decoration: none;
    color: black;
}

/* left right center "blueprint" */
.lrc{
    display: flex;
}
.left{
    width: 100cap;
}
.right{
    width: 100cap;
    display: flex;
    justify-content: end;
}
.center{
    width: min-content;
}

/* highlight border */
.hl{
    border: 4px black solid;
}
